{
  "type": "service_account",
  "project_id": "test",
  "private_key_id": "test",
  "private_key": "test",
  "client_email": "felixroland12355@gmail.com",
  "client_id": "113487991001810308893",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/ai-dj-884%40ai-dj-76527.iam.gserviceaccount.com",
  "refresh_token": "test",
  "client_secret": "test"
}